@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
.App {
  text-align: center;

}

.Nav-bar{
  display:inline-block;
  padding: 10px;
  width: 200px;
  margin: 20px;
}

.my-active{
  font-weight: 900;
}


body {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

* {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

.btn {
  font-weight: bold;
}

