@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

.App {
  background-color: #fff;
  padding: 30px;
  margin: 30px auto;
  width: 100%;
}

.Nav-bar a {
  display: block;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  min-width: 200px;
  text-align: center;
  margin: 0px 15px;
}

.my-active {
  font-weight: 900;
  background-color: #007bff;
  color: #fff !important;
  border: 1px solid #007bff;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
}

@media (max-width: 575px) {
  body {
    font-size: 14px;
  }
}

* {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

.btn {
  font-weight: bold;
}

.card {
  font-size: 14px;
}
.card-image {
  position: relative;
  padding-bottom: 100%;
  height: 0px;
}
.card-image img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}
